.CodeMirror {
  height: auto !important;
  @include box-shadow(none !important);
  background: none !important;
  
  .cm-s-solarized.cm-s-light ::selection, .CodeMirror-selected {
    background: #FFF !important;
    border: 1px solid hsla(0, 89%, 50%, 0.3) !important;
  }

  .cm-tab:before {
    content: '';
  }
}