.row {
  margin-bottom: 1em;
}

.control {
  min-height: 200px;
  
  .content {
    background: hsla(0,0%,98%, 0.3);
    border: 1px solid #DDD;
    @include border-radius(3px);
    @include box-shadow(0 0 10px rgba(150,150,150,0.1));
    padding: 0.1em 0.625em;
  }
}