/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/screen.scss */
section.devices .device {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 0 10px 10px;
  border: 1px solid #EEE;
  text-align: center;
}
/* line 16, ../sass/screen.scss */
section.devices .device .name {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #EFEFEF;
  background: #454545;
  padding: 2px;
}
/* line 23, ../sass/screen.scss */
section.devices .device .element {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
/* line 31, ../sass/screen.scss */
section.devices .device .led .element {
  background-color: #FFFFFF;
  border: 2px solid #EEEEEE;
}
/* line 40, ../sass/screen.scss */
section.devices .device .button .element {
  background-color: #efaca9;
}
/* line 43, ../sass/screen.scss */
section.devices .device .button .element:hover {
  background-color: #dd4d46;
}
